{% extends "base.html" %}

{% block page_content %}
<br/>
<br/>
<h2>Contact Information</h2>
<p>I'm always interested in new opportunities. Feel free to contact me.</p>
<p>Email: <a href="mailto:paul.ashbourne@hotmail.com">paul.ashbourne@hotmail.com</a></p>
<p>For more contact information, please see my <a href="/static/files/PaulAshbourne-Resume.pdf" target="_blank">resume</a>.</p>
<br/>
<br/>
<br/>
<br/>
<h2>Social Media</h2>
<div style="width:30%;float:left;text-align:center;">
<a href="http://ca.linkedin.com/in/paulashbourne">
    <img style="width:300px;height:70px;min-width:325px;" src="/static/img/linkedin.png" alt="View my LinkedIn profile">
</a>
</div>
<div style="width:30%;float:left;text-align:center;min-width:325px;">
<a href="http://www.facebook.com/paul.ashbourne">
    <img style="width:300px;height:70px;" src="/static/img/facebook.png" alt="Add me on Facebook">
</a>
</div>
<div style="width:30%;float:left;text-align:center;">
<a href="http://twitter.com/paulashbourne">
    <img style="width:370px;height:70px;min-width:395px;" src="/static/img/twitter.png" alt="Follow me on Twitter">
</a>
</div>
{% end %}
