{% extends "base.html" %}

{% block page_content %}
<br/>
<br/>
<h2>Contact Information</h2>
<p>I'm always interested in new opportunities. Feel free to contact me.</p>
<p>Email: <a href="mailto:paul.ashbourne@gmail.com">paul.ashbourne@gmail.com</a></p>
<p>For more contact information, please see my <a href="/static/files/PaulAshbourne-Resume.pdf" target="_blank">resume</a>.</p>
<br/>
<br/>
<br/>
<br/>
<h2>Other Links</h2>
<div style="float:left;width:50%;text-align:center;">
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/paulashbourne" data-format="inline" data-related="false"></script>
</div>
<div style="float:right;width:50%;text-align:center;">
<a href="https://github.com/paulashbourne">
  <img src="/static/img/octocat.png" height=100 />
  <img src="/static/img/github_logo.png" height=100 />
</a>
</div>
{% end %}
