{% extends "base.html" %}

{% block page_content %}
<div style='margin-top:100px;text-align:center;'>
    <img src='/static/img/Paul-Ashbourne.jpg' style='height:400px;'/>
</div>
<div style="text-align:center;">
    <h1>Welcome</h1>
    <p>
        Hi, I'm Paul.
    </p>
    <p>
       I'm a Software Eningeering student at the University of Waterloo, Canada.
       I'm also an avid hockey fan and craft beer enthusiast.
    </p>
    <p>Looking for my resume? Click <a href="/static/files/PaulAshbourne-Resume.pdf" target="_blank">here</a>. 
    Github? Right <a href="https://github.com/paulashbourne">here</a>.</p>
</div>
{% end %}
