{% extends "base.html" %}

{% block page_content %}
<div style="text-align:center;">
    <h1>Password Manager</h1>
    <p>
        A simple utility to securely use the same password everywhere.
    </p>
    <p>
    1. Enter the primary domain of the website. For example, for Facebook, enter "facebook.com"<br/>
    2. Enter your password that you'd like to use<br/>
    3. Click Generate Hash<br/>
    4. Copy the resulting hash into the password field for the website<br/>
    </p>
    <div>
      <!--<input type="text" placeholder="Username" id="username"/>-->
      <input type="text" placeholder="Domain" id="domain"/>
      <input type="password" placeholder="Password" id="password"/>
      <button type="button" id="generate">Generate Hash</button>
    </div>
    <div>
      <p id="password-result"></p>
    </div>
    <p>How does this work? The domain of the website is appended to your desired password. The resulting string
    is then hashed using SHA-256. The result is that you have a unique password for the website you are using. Everything
    is done client-side, so your credentials never leave your computer. See for yourself, it's all in the page source.</p>
    <p>This tool was hacked together in 10 minutes. I take no responsibility for any consequences that arise from your use of it.</p>
</div>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js"></script>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#generate').click(function() {
      //var username = $('#username').val();
      var domain   = $('#domain').val();
      var password = $('#password').val();
      if (domain == "" || password == "") {
        alert("Please complete all fields");
      } else {
        var passwordHash = CryptoJS.SHA256(username+":"+password+"@"+domain);
        $('#password-result').html("Your password is: " + passwordHash);
      }
    });
});
</script>
{% end %}
